.home-card {
  border: none;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 300px;


  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

}

// 一般卡片高度
.home-card .homecardImage {
  height: 300px;
}

// 大卡片（isLarge）樣式
.home-card .home-card--large .card-img-top .homecardImage {
  height: 500px !important;


}

.homecardImage {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.homecard-favorite-btn {
  // background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .heart-filled {
    font-variation-settings: 'FILL' 1, 'wght' 600;
    color: #dc3545;
    font-size: 2rem;
  }

  .heart-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 600;
    color: #dc3545;
    font-size: 2rem;
  }
  

  &:hover {
    i {
      font-size: 3rem;
    }
  }


}


.homecardTitle {
  color:#3E2B1B;
  font-size: 3rem;
  font-weight: 600;
}

.homecardText {
  font-size: 2rem;
  line-height: 1.5;
  min-height: 4.5em;
}

.homecardPrice {
  color: #b8860b;
  font-weight: 600;
  font-size: 3rem;
}

.homecardBtn {
  background-color: #68482D;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 0rem;
  transition: background-color 0.2s ease;
  font-size: 1.5rem;

  &:hover {
    background-color: #C4B0A0 ;
    color: #68482D;
  }
}
