// .material-symbols-outlined {
//     text-decoration: none;
//     vertical-align: middle;
//     line-height: 1;
//     font-style: normal; // 避免被繼承斜體
//     font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
//     display: inline-block;
//     
//   }
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 1.8rem;
}