.checkout-style {
  display: flex;
  flex-direction: column;

  .checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1296px;

    .checkout-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 80px 0 0 0;

      &-chinese {
        font-size: 3rem;
        color: $coffee-primary-800;
        font-weight: 900;
        line-height: 120%;

        @media (min-width: 768px) {
          font-size: 4.8rem;
        }
      }

      &-line {
        width: 100%;
        max-width: 351px;
        height: 1px;
        background-color: $coffee-primary-500;
        margin: 0 auto;

        @media (min-width: 768px) {
          max-width: 520px;
        }
      }

      &-english {
        font-size: 2rem;
        color: $coffee-primary-800;
        font-weight: 900;
        line-height: 120%;

        @media (min-width: 768px) {
          font-size: 2.4rem;
        }
      }
    }

    &-style {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      padding: 80px 0;
      margin: 0;

      .col-custom {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .order-custom,
        .receiver-custom,
        .payment-custom {
          display: flex;
          flex-direction: column;
          padding: 24px;
          gap: 20px;
          background-color: $coffee-grey-000;
          border: 1px solid $coffee-primary-100;

          .box-title {
            color: $coffee-primary-700;
            font-weight: 800;
            margin: 0;
            font-size: 1.6rem;
          }

          .box-content {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 16px;

            &-title {
              margin: 0;
              font-size: 1.6rem;
              color: $coffee-primary-900;
              min-width: 65px;
              white-space: nowrap;
              flex-shrink: 0;
            }

            &-text {
              margin: 0;
              font-size: 1.6rem;
              color: $coffee-primary-600;
            }

            &-price {
              display: flex;
              flex-direction: row;
              gap: 8px;
              font-size: 1.6rem;
              color: $coffee-primary-600;
            }

            &-remark {
              font-size: 1.4rem;
              color: $coffee-grey-400;
            }

            &-card-input {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              overflow: hidden;
              gap: 8px;

              &-group {
                display: flex;
                align-items: center;
                gap: 4px;
              }

              &-detail {
                width: 100%;
                flex-grow: 1;
                flex-shrink: 1;
                min-width: 0;
                padding: 4px;
                font-size: 1.6rem;
                color: $coffee-primary-800;
                text-align: center;
                border: 1px solid $coffee-primary-400;

                &.card-expiration {
                  appearance: none; // 移除原生樣式（Chrome/Safari）
                  -moz-appearance: none; // Firefox
                  -webkit-appearance: none;
                  background-position: right 8px center;
                  background-repeat: no-repeat;
                  background-size: 12px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }

              .card-ccv-input,
              .card-expiration {
                max-width: 113px;
              }

              span {
                flex-shrink: 0;
                width: auto;
                font-size: 1.6rem;
                color: $coffee-primary-600;
              }
            }
          }

          .total-line {
            display: block;
            width: 100%;
            height: 1px;
            background-color: $coffee-primary-400;
          }

          .order-total {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 16px;
            font-size: 2.4rem;
            font-weight: 700;

            &-title {
              font-size: 1.6rem;
              color: $coffee-primary-700;
            }

            &-price {
              display: flex;
              flex-direction: row;
              gap: 8px;
              color: $coffee-primary-600;
              align-items: baseline;
            }
          }
        }

        .check-content {
          display: flex;
          flex-direction: column;
          gap: 8px;

          &-option {
            display: flex;
            flex-direction: row;
            gap: 8px;

            .radio-style,
            .checkbox-style {
              border: 1px solid $coffee-grey-600;
            }
          }
          &-text {
            font-size: 1.4rem;
            color: $coffee-grey-600;
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 4px;
          }
        }

        .btn-custom {
          display: flex;
          flex-direction: row;
          gap: 12px;

          &-back {
            width: 100%;
            color: $coffee-primary-600;
            background-color: $coffee-grey-000;
            border: 1px solid $coffee-primary-400;
            padding: 8px 16px;

            &:hover {
              background-color: $coffee-primary-300;
              color: $coffee-primary-700;
            }
            &:active {
              background-color: $coffee-primary-800;
              color: $coffee-primary-000;
            }
          }
          &-confirm {
            width: 100%;
            color: $coffee-grey-000;
            background-color: $coffee-primary-700;
            padding: 8px 16px;

            &:hover {
              background-color: $coffee-primary-300;
              color: $coffee-primary-700;
            }
            &:active {
              background-color: $coffee-primary-800;
              color: $coffee-primary-000;
            }
          }
        }

        .box-content-card-input.year-custom {
          justify-content: flex-start;
        }
      }
    }
  }

  .text-danger {
    color: $coffee-notification;
    font-size: 1.4rem;
    margin: 0;
  }
}

.err-sign {
  color: $coffee-notification;
}
