.login-bg {
  background-image: url('https://images.unsplash.com/photo-1656699219602-89b6cc6c68d4?q=80&w=2130&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.bg-white-custom {
  background-color: rgba(255, 255, 255, 0.9);
}

.opacity-90 {
  opacity: 0.88;
}

input.form-control::placeholder {
  font-size: 0.8rem;
  color: #bfbfbf;
}
