$sidebar-width: 280px;

.sidebar {
  width: $sidebar-width;
  margin-left: -$sidebar-width;
  transition: margin-left 0.25s;

  &.open {
    margin-left: 0;
  }

  .sidebar-link {
    color: $coffee-line;
    display: block;
    text-decoration: none;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;

    &:hover {
      color: $coffee-light;
      background-color: rgba($coffee-deep, 0.3);
    }

    &.active {
      color: white;
      background-color: rgba($coffee-deep, 0.5);
    }
  }
}

.main {
  width: 100%;
}

.sidebar-logout {
  &:hover{
    background-color: rgba($coffee-deep, 0.3);
  }
}

// 控制 body 出現 sidebar-toggle 時
.sidebar-toggle {
  .sidebar {
    margin-left: 0;
  }
}

// 桌面版
@include media-breakpoint-up(md) {
  .sidebar {
    margin-left: 0;
    width: $sidebar-width;
  }

  .main {
    width: calc(100vw - #{$sidebar-width});
  }

  .sidebar-toggle {
    .sidebar {
      margin-left: -$sidebar-width;
    }

    .main {
      width: 100%;
      margin-left: 0;
    }
  }
}